Ejercicio 2/plataforma.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="cursos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="curso" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="alumnos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="alumno" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="matriculas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="matricula" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="evaluaciones">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="evaluacion" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="fecha_publicacion" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>